@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    string[] weekDay = { "Sunday", "Monday", "Tuesday", "Wednesday", "Thursday", "Friday", "Saturday" };
}

@if (ViewBag.user == null || ViewBag.stats == null)
{

    <div class="container-fluid">
        <div class="row">
            <div class="col-md-6 offset-md-3">
                <form class="generate-form" action="profile/input" method="post">
                    <h2 class="mb-4">Profile Details</h2>
                    <label class="form-label" for="age">Age</label>
                    <input class="form-control w-50 mb-3" name="age" id="age" placeholder="Age" required />
                    <div class="form-check form-check-inline mb-3" required>
                        <input class="form-check-input" type="radio" name="gender" id="male" value="male" checked>
                        <label class="form-check-label" for="male">
                            Male
                        </label>
                    </div>
                    <div class="form-check form-check-inline mb-3" required>
                        <input class="form-check-input" type="radio" name="gender" id="female" value="female">
                        <label class="form-check-label" for="female">
                            Female
                        </label>
                    </div>
                    <div>
                        <label class="form-label" for="feet">Height</label>
                        <div class="row mb-3">
                            <div class="col measurements input-group w-50">
                                <input class="form-control" name="feet" placeholder="Feet" id="feet" required />
                                <span class="input-group-text">Feet</span>
                            </div>
                            <div class="col measurements input-group w-50">
                                <input class="form-control" name="inches" id="inches" placeholder="Inches" required />
                                <span class="input-group-text">Inches</span>
                            </div>
                        </div>
                    </div>
                    <label class="form-label" for="weight">Weight</label>
                    <div class="input-group mb-3 w-50">
                        <input class="form-control" name="weight" id="weight" placeholder="Weight" required />
                        <span class="input-group-text">lbs</span>
                    </div>
                    <label class="form-label" for="goal">Weight Loss Goal</label>
                    <select class="form-select mb-3" id="goal" name="goal" aria-label="Select Goal">
                        <option value="2" selected>Select Weight Loss Goal</option>
                        <option value="1">0.5 lbs</option>
                        <option value="2">1 lb</option>
                        <option value="3">1.5 lbs</option>
                        <option value="4">2 lbs</option>
                    </select>
                    <label class="form-label" for="activity">Activity Level</label>
                    <select class="form-select mb-3" id="activity" name="activity" aria-label="Select Goal">
                        <option value="0" selected>Select Level of Activity</option>
                        <option value="0">No Exercise</option>
                        <option value="1">Low (1-3 days Active)</option>
                        <option value="2">Moderate (4-5 days Active)</option>
                        <option value="3">High (6-7 days Active)</option>
                    </select>
                    <button type="submit" class="btn btn-primary">Submit</button>
                    <input style="display: none;" value=@User.Identity.Name name="User">
                </form>
            </div>
        </div>
    </div>
}

@if (ViewBag.user != null)
{
    var list = ViewBag.daysData as Dictionary<string, object>[];

    var dow = (int)ViewBag.dayOfWeek;
    <div class="row">
        <h1 class="profile-heading">Week Overview</h1>
    </div>
    <div class="row">
        <div class="col-md-6">
            <div class="today-box ms-auto">
                <h2 class="week-day">Today</h2>
                <div class="week-details">
                    <p>Calories Eaten: <span class="week-calories">@list[dow]["calories"] <i class="fa-solid fa-utensils"></i></span></p>
                    <p>Minutes Exercised: <span class="week-minutes">@list[dow]["minutes"] min <i class="fa-solid fa-bolt-lightning"></i></span></p>
                    <p>Expected Burned: <span class="week-burned">@list[dow]["expected"]</span> calories</p>
                    <p>Actual Burned: <span class="week-burned">@((int)list[dow]["burned"] > 0 ? "+" + list[dow]["burned"] : list[dow]["burned"]) <i class="fa-sharp fa-solid fa-fire-flame-curved" style=@((int)list[dow]["burned"] < 0 ? "": "display:none")></i></span></p>
                </div>
                <div class="goals">
                    <h6>Goals:</h6>
                    <ul class="week-details">
                        <li>Drink <span style="color: #0e70c7">@ViewBag.ozWater oz</span> of <span style="color: #0e70c7;">water <i class="fa-solid fa-bottle-water"></i></span></li>
                        <li>Take <span style="color: #fc7b03">7,500</span> steps <span style="color: #fc7b03"><i class="fa-solid fa-person-walking"></i></span></li>
                        <li>Get at least <span style=" color: #5f6ac7">7 hours</span> of sleep <span style="color: #5f6ac7"><i class="fa-solid fa-moon"></i></span></li>
                    </ul>
                    <p>@(ViewBag.hoursLeft == 1 ? ViewBag.hoursLeft + " Hour Left Today" : ViewBag.hoursLeft + " Hours Left Today")</p>
                </div>
                <a href="/day/add" class="edit-button">Edit</a>
            </div>

        </div>
        <div class="col-md-6">
            <div class="profile-container">
                <div class="profile-box">
                    <p><b>@ViewBag.user.User</b></p>
                    <p><strong>@(char.ToUpper(ViewBag.user.Gender[0]) + ViewBag.user.Gender.Substring(1))</strong></p>
                    <p>Age: <strong>@ViewBag.user.Age</strong></p>
                    <p>Height: <strong>@(ViewBag.user.Height / 12)' @(ViewBag.user.Height % 12)"</strong></p>
                    <p>Weight: <strong>@ViewBag.user.Weight lbs</strong></p>
                    <p>Goal: <strong>@(ViewBag.stats.Goal * .5) lbs per week</strong></p>
                    <p>Minutes Exercised: <strong>@ViewBag.stats.TotalMinutes</strong></p>
                    <p>Total Calories Burned: <strong>@(Math.Abs(ViewBag.stats.TotalBurned))</strong></p>
                    <a href="/profile/update" class="edit-button">Update</a>
                </div>
            </div>
        </div>

    </div>

    <div class="fluid-container">
        <div class="row">

            @for (int i = 0; i < 7; i++)
            {
                if (i != dow)
                {
                    var day = list[i];
                    var calories = day["calories"];
                    var minutes = day["minutes"];
                    var expected = day["expected"];
                    var burned = day["burned"];
                    var style = day["style"];
                    <div class="col-lg-2 col-md-6">
                        <div class=@style>
                            <h6><span class="week-day">@weekDay[i]</span></h6>
                            <p>Calories: <span class="week-calories">@calories <i class="fa-solid fa-utensils"></i></span></p>
                            <p>Exercise: <span class="week-minutes">@minutes min <i class="fa-solid fa-bolt-lightning"></i></span></p>
                            <p>Deficit Goal: <span style="color: #fc7b03">@((int)expected < 0 ? "0 cal" : expected+ " cal")</span></p>
                            <p>Deficit: <span class=@(burned.ToString() == "n/a" ? "na": ((int)burned > 0 ? "positive" : "negative"))>@((burned.ToString() == "n/a" ? burned : ((int)burned > 0 ? "+"+burned : burned)))</span></p>
                            <a href="/day/add" class="edit-button" style=@(style.ToString() == "future-box" ? "display:none" : "")>Edit</a>
                        </div>
                    </div>
                }
            }
        </div>
    </div>



}
